<mat-card *ngIf="order">
    <form [formGroup]="form" (submit)="save()">
        <div class="card">
            <div class="product-info">
                <p class="product-info-label"><strong>Product Name</strong> {{ order.productName }}</p>
                <p class="product-info-label"><strong>Section Order Date</strong> {{ order.productName }}</p>
                <p class="product-info-label"><strong>Shipping Date</strong> {{ order.productName }}</p>
            </div>
            <div class="order-info">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Mobile Number" formControlName="mobile">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="E-mail" formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>County</mat-label>
                    <input matInput placeholder="county" formControlName="county">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" formControlName="city">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Street</mat-label>
                    <input matInput placeholder="Street" formControlName="street">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Order Status</mat-label>
                    <mat-select formControlName="status" [compareWith]="compare">
                        <mat-option *ngFor="let status of statuses"  [value]="status">{{ status.text }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Price</mat-label>
                    <input matInput placeholder="Price" formControlName="shippingPrice">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Shipping County</mat-label>
                    <input matInput placeholder="Shipping county" formControlName="shippingCounty" [matAutocomplete]="autoCounty">
                    <mat-autocomplete autoActiveFirstOption  #autoCounty="matAutocomplete" appearance="outline">
                        <mat-option *ngFor="let county of counties$ | async" [value]="county.Name">
                            {{ county.Name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Shipping City</mat-label>
                    <input matInput placeholder="City Shipping" formControlName="shippingCity" [matAutocomplete]="autoCity">
                    <mat-autocomplete autoActiveFirstOption  #autoCity="matAutocomplete" appearance="outline">
                        <mat-option *ngFor="let locality of localities$ | async" [value]="locality.Name">
                            {{ locality.Name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Shipping Street</mat-label>
                    <input matInput placeholder="Shipping Street" formControlName="shippingStreet" [matAutocomplete]="autoStreet">
                    <mat-autocomplete autoActiveFirstOption #autoStreet="matAutocomplete" appearance="outline">
                        <mat-option *ngFor="let street of streets$ | async" [value]="street.Name">
                            {{ street.Name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Nr</mat-label>
                    <input matInput placeholder="Nr" formControlName="shippingNumber">
                </mat-form-field>
            </div>
            <div class="order-actions">
                <mat-form-field appearance="outline">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..." formControlName="comment"></textarea>
                </mat-form-field>
                <div class="order-actions-checks">
                    <mat-checkbox formControlName="isShipped">Shipped</mat-checkbox>
                    <mat-checkbox formControlName="isInvoiceMade">Invoice made</mat-checkbox>
                </div>
                <div class="order-actions-button">
                    <button type="submit" mat-flat-button color="primary">Save</button>
                    <button type='button' mat-flat-button color="primary" (click)="ship()">Ship</button>
                    <button type='button' mat-flat-button color="primary" (click)="invoice()">Invoice</button>
                </div>
            </div>
        </div>
    </form>
</mat-card>