/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300 !important;
    background-image: url('./assets/image/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mat-toolbar,
button {
    font-weight: 300 !important;
}
